USE [TareaAhorros]
GO
/****** Objeto: StoredProcedure [dbo].[CargarCatalogos] Fecha de script: 30/9/2026 18:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[CargarCatalogos]
    @inXml XML, --parametro de entrada de tipo XML (prefijo @in)
    @outResultCode INT OUTPUT -- codigo del resultado 
AS
BEGIN
    SET NOCOUNT ON; --evita mensajes de rows affected
    BEGIN TRY
        SET @outResultCode = 0;

        BEGIN TRANSACTION;

        INSERT INTO dbo.TipoDocuIdentidad (Id, Nombre)
        SELECT tipo.Item.value('@Id', 'INT'),
               tipo.Item.value('@Nombre', 'VARCHAR(50)')
        FROM @inXml.nodes('//TipoDocuIdentidad') AS tipo(Item) --.nodes() convierte cada elemento TipoDocuIdentidad del XML en una fila
        WHERE NOT EXISTS ( --si no existe insertar
            SELECT 1 FROM dbo.TipoDocuIdentidad docu WHERE docu.Id = tipo.Item.value('@Id', 'INT') --el valor del xml
        );

        INSERT INTO dbo.TipoMoneda (Id, Nombre, Simbolo)
        SELECT tipo.Item.value('@Id', 'INT'),
               tipo.Item.value('@Nombre', 'VARCHAR(30)'),
               tipo.Item.value('@Simbolo', 'NVARCHAR(3)')
        FROM @inXml.nodes('//TipoMoneda') AS tipo(Item)
        WHERE NOT EXISTS (
            SELECT 1 FROM dbo.TipoMoneda moneda WHERE moneda.Id = tipo.Item.value('@Id', 'INT')
        );
 
        INSERT INTO dbo.Parentesco (Id, Nombre)
        SELECT tipo.Item.value('@Id', 'INT'),
               tipo.Item.value('@Nombre', 'VARCHAR(20)')
        FROM @inXml.nodes('//Parentezco') AS tipo(Item)
        WHERE NOT EXISTS (
            SELECT 1 FROM dbo.Parentesco pariente WHERE pariente.Id = tipo.Item.value('@Id', 'INT')
        );

        INSERT INTO dbo.TipoCuentaAhorro (Id, Nombre, IdTipoMoneda, SaldoMinimo, MultaSaldoMin, CargoAnual,NumRetirosHumano, NumRetirosAutomatico, ComisionHumano,ComisionAutomatico, Interes)
        SELECT tipo.Item.value('@Id', 'INT'),
               tipo.Item.value('@Nombre', 'VARCHAR(50)'),
               tipo.Item.value('@IdTipoMoneda', 'INT'),
               tipo.Item.value('@SaldoMinimo', 'MONEY'),
               tipo.Item.value('@MultaSaldoMin', 'MONEY'),
               tipo.Item.value('@CargoAnual', 'MONEY'),
               tipo.Item.value('@NumRetirosHumano', 'INT'),
               tipo.Item.value('@NumRetirosAutomatico', 'INT'),
               tipo.Item.value('@comisionHumano', 'MONEY'),
               tipo.Item.value('@comisionAutomatico', 'MONEY'),
               tipo.Item.value('@interes', 'DECIMAL(5,2)')
        FROM @inXml.nodes('//TipoCuentaAhorro') AS tipo(Item)
        WHERE NOT EXISTS (
            SELECT 1 FROM dbo.TipoCuentaAhorro cuenta WHERE cuenta.Id = tipo.Item.value('@Id', 'INT')
        );

        INSERT INTO dbo.TipoOperacion (Id, Nombre)
        SELECT tipo.Item.value('@Id', 'INT'),
               tipo.Item.value('@Nombre', 'VARCHAR(60)')
        FROM @inXml.nodes('//TipoOperacion') AS tipo(Item)
        WHERE NOT EXISTS (SELECT 1 FROM dbo.TipoOperacion operacion WHERE operacion.Id = tipo.Item.value('@Id', 'INT')
        );

        COMMIT TRANSACTION; --guardar cambios

    END TRY --Try y Catch es intente hacer x y si sale mal haga y basicamente
    BEGIN CATCH
        ROLLBACK TRANSACTION; --revertir cambios
        SET @outResultCode = 50001; --50001 es error al cargar datos
    END CATCH


END;